* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -170px; }

.wrap__in { position: relative; width: 1063px; margin: 0 auto; background: white; z-index: 10; }

.push { height: 170px; clear: both; }

.h1 { font: italic 24px Times New Roman, sans-serif; color: #9d1c2f; }

.h1_grey { color: #87888a; }

.h2 { font: 14px normal Tahoma, sans-serif; color: #9d1c2f; text-transform: uppercase; text-decoration: underline; }

.h3 { font: italic 18px Times New Roman, sans-serif; color: #9d1c2f; }

.h3_grey { color: #87888a; }

.input { height: 23px; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 0 5px; border: 1px solid #953c36; }

.submit { width: 120px; height: 26px; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); font-family: Tahoma, sans-serif; text-transform: uppercase; color: white; cursor: pointer; }

.header { position: relative; padding: 12px 0 0 206px; background: url(../img/header.png) 211px 0 no-repeat; }
.header:before, .header:after { content: ""; display: table; }
.header:after { clear: both; }

.header__logo { position: absolute; top: 12px; left: 0px; }
.header__logo a { display: block; }
.header__logo i { display: block; background: url('../img/icons-s694288af43.png') 0 0 no-repeat; width: 185px; height: 185px; }

.header__call-us { float: left; padding: 22px 42px 0; font-family: Tahoma, sans-serif; color: #9d1c2f; font-size: 19px; }
.header__call-us .advert__2 { padding-left: 68px; }
.header__call-us .advert__3 { padding-left: 179px; }

.adtert__number { padding-top: 7px; color: #aaaaaa; font-size: 33px; }

.basket { position: relative; float: right; margin: 64px 0 5px; min-width: 119px; height: 88px; background: #e7e7e7; }
.basket:before { content: ""; position: absolute; top: 32px; left: -62px; background: url('../img/icons-s694288af43.png') 0 -237px no-repeat; width: 53px; height: 51px; }

.basket__title { height: 27px; line-height: 27px; margin-bottom: 8px; text-align: center; text-transform: uppercase; color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.basket__price { margin-bottom: 4px; }
.basket__price:before, .basket__price:after { content: ""; display: table; }
.basket__price:after { clear: both; }
.basket__price .basket__number { float: left; width: 50%; padding: 0 10px; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; font-size: 18px; }
.basket__price .basket__text { float: left; width: 50%; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; color: #9d1c2f; }

.menu { clear: both; }

.main-menu { height: 26px; margin-bottom: 3px; background: #dadada; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faf9f9), color-stop(100%, #bebdbd)); background-image: -webkit-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -moz-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -o-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: linear-gradient(top, #faf9f9 0%, #bebdbd 100%); }
.main-menu li { float: left; border-right: 3px solid #9d1d2e; }
.main-menu li a { display: block; padding: 0 33px; line-height: 26px; text-transform: uppercase; font-size: 15px; color: #555555; }
.main-menu li a:hover { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }
.main-menu li a.is-active { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.sub-menu { height: 26px; line-height: 26px; background: #87888a; }
.sub-menu li { float: left; }
.sub-menu li a { display: block; padding-left: 24px; color: white; font-size: 13px; text-transform: uppercase; }
.sub-menu li a:hover { color: #9d1c2f; }

.footer { width: 1063px; height: 170px; margin: 0 auto; padding-top: 8px; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 9px solid #9d1c2f; }
.footer:before, .footer:after { content: ""; display: table; }
.footer:after { clear: both; }

.socials { float: left; width: 185px; color: #929090; font-family: "Tahoma", sans-serif; }

.socials-list { margin-top: 12px; }
.socials-list:before, .socials-list:after { content: ""; display: table; }
.socials-list:after { clear: both; }
.socials-list li { float: left; width: 32px; height: 32px; margin-left: 6px; }
.socials-list li:first-child { margin-left: 0; }

.f { display: block; background: url('../img/icons-s694288af43.png') 0 -382px no-repeat; width: 32px; height: 32px; }

.vk { display: block; background: url('../img/icons-s694288af43.png') 0 -340px no-repeat; width: 32px; height: 32px; }

.tw { display: block; background: url('../img/icons-s694288af43.png') 0 -424px no-repeat; width: 32px; height: 32px; }

.inst { display: block; background: url('../img/icons-s694288af43.png') 0 -195px no-repeat; width: 32px; height: 32px; }

.yt { display: block; background: url('../img/icons-s694288af43.png') 0 -298px no-repeat; width: 32px; height: 32px; }

.bot-menu { overflow: hidden; text-align: center; }
.bot-menu li { display: inline-block; padding: 0 15px; border-left: 2px solid #909090; font-family: "Tahoma", sans-serif; }
.bot-menu li:first-child { border-left: none; }
.bot-menu li a { color: #9d1c2f; }

.quote { width: 190px; float: right; color: #aaaaaa; font-size: 20px; }
.quote .quote__mod { padding-left: 94px; }

.l-container { position: relative; -webkit-box-shadow: 8px -3px 30px -3px #cccccc; -moz-box-shadow: 8px -3px 30px -3px #cccccc; box-shadow: 8px -3px 30px -3px #cccccc; background: url(../img/bg.png) -37px 0 repeat-y; }
.l-container:before, .l-container:after { content: ""; display: table; }
.l-container:after { clear: both; }

.sidebar { float: left; width: 185px; }

.l-content { float: right; width: 857px; padding-top: 7px; padding-left: 21px; }

.content { margin-bottom: 5px; }

.sidebar__options { margin-bottom: 22px; }
.sidebar__options li { margin-bottom: 10px; }
.sidebar__options li a { display: block; height: 26px; padding: 0 22px; line-height: 26px; text-transform: uppercase; font-size: 15px; color: #9d1c2f; background: #dadada; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faf9f9), color-stop(100%, #bebdbd)); background-image: -webkit-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -moz-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -o-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: linear-gradient(top, #faf9f9 0%, #bebdbd 100%); }
.sidebar__options li a:hover { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }
.sidebar__options li .is-active { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.l-search { position: relative; }

.search { height: 26px; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 0 10px; border: 1px solid #9d1c2f; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

.search-btn { position: absolute; top: 0; bottom: 0; right: 0; width: 28px; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; background: #a83632; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cb4e4a), color-stop(100%, #85211a)); background-image: -webkit-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: -moz-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: -o-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: linear-gradient(top, #cb4e4a 0%, #85211a 100%); cursor: pointer; }
.search-btn:after { content: ""; position: absolute; top: 6px; lefT: 8px; background: url('../img/icons-s694288af43.png') 0 -466px no-repeat; width: 13px; height: 13px; }

.sidebar__article { -moz-box-sizing: border-box; box-sizing: border-box; border: 2px dotted #6b6f72; margin-bottom: 14px; }
.sidebar__article img { width: 181px; height: 122px; }
.sidebar__article p { padding: 0 8px; font: 10px Tahoma, sans-serif; }

.sidebar__article-title { display: block; padding: 0 0 8px 8px; font: italic 18px Times New Roman, sans-serif; color: #9d1c2f; }

.more { display: block; margin: 17px 0 20px; font: italic 10px Times New Roman, sans-serif; color: #9d1c2f; }
.more:hover { text-decoration: underline; }

.more_mod { padding: 0 8px; }

.more_small { margin: 11px 0 9px; font: italic 12px Times New Roman, sans-serif; color: #87888a; }

.navigation { padding: 0 0 0 10px; margin-bottom: 10px; }
.navigation:before, .navigation:after { content: ""; display: table; }
.navigation:after { clear: both; }

.navigation__map { float: left; }
.navigation__map li { display: inline-block; padding: 0 15px; border-left: 2px solid #777777; }
.navigation__map li:first-child { border-left: none; }
.navigation__map li a { font: "Tahoma", sans-serif; color: #9d1c2f; }
.navigation__map li a.current { color: #929191; }

.pagination { float: right; margin-left: 25px; }
.pagination li { float: left; line-height: 18px; font-family: "Tahoma", sans-serif; font-size: 12px; color: #929191; }
.pagination li span { padding-right: 4px; }
.pagination li a { display: block; height: 18px; padding: 0 5px; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; color: #929191; }
.pagination li a:hover { color: #9d1c2f; }
.pagination li a.is-active { background: #9d1d2e; color: white; }

.sidebar__menu { padding-left: 22px; }
.sidebar__menu li { font-size: 13px; color: #9d1c2f; text-transform: uppercase; }
.sidebar__menu li p { padding: 10px 10px 0 0; cursor: pointer; }
.sidebar__menu li p.is-active { border-right: 7px solid #922228; border-bottom: 2px solid #922228; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .red-wine p { border-right: 7px solid #922228; }
.sidebar__menu .red-wine p.is-active { border-bottom: 2px solid #922228; border-right: 7px solid #922228; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .white-wine p { border-right: 7px solid #fce08b; }
.sidebar__menu .white-wine p.is-active { border-bottom: 2px solid #fce08b; border-right: 7px solid #fce08b; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .pink-wine p { border-right: 7px solid #f69793; }
.sidebar__menu .pink-wine p.is-active { border-bottom: 2px solid #f69793; border-right: 7px solid #f69793; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .champagne p { border-right: 7px solid #fff6f2; }
.sidebar__menu .champagne p.is-active { border-bottom: 2px solid #fff6f2; border-right: 7px solid #fff6f2; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }

.sidebar__sub-menu { padding: 7px 0 4px 19px; }
.sidebar__sub-menu li { padding-bottom: 2px; font-size: 12px; color: #7d7d7d; text-transform: none; font-family: "Tahoma", sans-serif; cursor: pointer; }
.sidebar__sub-menu li:hover { color: #9d1c2f; }
.sidebar__sub-menu li span.is-active { color: #9d1c2f; text-decoration: underline; }

.sidebar__l2-menu { padding-left: 10px; }

.post { margin-left: 25px; border-top: 2px dotted #6b6f72; }
.post:before, .post:after { content: ""; display: table; }
.post:after { clear: both; }
.post:first-child { border-top: none; }

.post__col { width: 50%; float: left; }
.post__col:before, .post__col:after { content: ""; display: table; }
.post__col:after { clear: both; }
.post__col .h1 { margin: 20px 0 10px; }

.wine-about { font-size: 10px; }

.post__text { font: 14px Tahoma, sans-serif; }

.wine-about__kind { margin-top: 10px; }

.post__img { position: relative; float: right; }
.post__img p { padding: 0 10px 0 43px; font: italic 12px "Times New Poman", sans-serif; color: #87888a; }
.post__img img { max-width: 416px; }

img.post__wine { position: absolute; top: 10px; left: -61px; width: auto; }

.product-list .h2 { margin-left: 24px; }

.product-list__row { padding-top: 7px; margin-top: 7px; border-top: 2px dotted #6b6f72; }
.product-list__row:before, .product-list__row:after { content: ""; display: table; }
.product-list__row:after { clear: both; }
.product-list__row:first-child { border-top: none; }

.product-list__row_mod { padding-top: 34px; }

.product-list__row_top { border-top: 2px dotted #6b6f72 !important; }

.product-prewiev { position: relative; width: 33.3%; float: left; padding: 16px 8px 8px 88px; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 2px dotted #6b6f72; }
.product-prewiev:first-child { border-left: none; }

.product-prewiev__link { font: italic 18px Times New Poman, sans-serif; color: #9d1c2f; }

.product-prewiev__text { font-size: 12px; }

.product-prewiev__img { position: absolute; top: 56px; left: 10px; z-index: 2; }

.price { position: relative; left: -54px; height: 27px; line-height: 27px; padding-right: 34px; text-align: right; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); color: white; font-family: Tahoma, sans-serif; }
.price:after { content: ""; position: absolute; top: 2px; right: 7px; background: url('../img/icons-s694288af43.png') 0 -489px no-repeat; width: 22px; height: 22px; }

.country-prewiev { padding-left: 26px; }
.country-prewiev:before, .country-prewiev:after { content: ""; display: table; }
.country-prewiev:after { clear: both; }

.country__title { font-size: 24px; font-weight: normal; text-transform: uppercase; color: #9d1c2f; }

.product { margin-top: 12px; }

.product__about:before, .product__about:after { content: ""; display: table; }
.product__about:after { clear: both; }

.product__img { float: left; width: 280px; text-align: center; }

.product__text { float: right; width: 577px; }

.product__info { -moz-box-sizing: border-box; box-sizing: border-box; border-top: 2px dotted #6b6f72; }
.product__info:before, .product__info:after { content: ""; display: table; }
.product__info:after { clear: both; }

.product__left { float: left; width: 396px; padding: 5px 5px 0 0; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 2px dotted #6b6f72; }

.product__right { float: right; width: 181px; margin-left: -2px; border-left: 2px dotted #6b6f72; }

.about { font: 12px Tahoma, sans-serif; margin: 10px 0 0px; }
.about p { margin-bottom: 4px; text-align: justify; }

.product__price { margin: 40px 0; }
.product__price:before, .product__price:after { content: ""; display: table; }
.product__price:after { clear: both; }

.product__money { padding-top: 10px; width: 154px; margin-right: 5px; display: inline-block; vertical-align: top; }
.product__money p { font-style: italic; margin-top: 7px; padding-left: 2px; font-size: 11px; }

.product-buy { display: block; height: 32px; line-height: 32px; text-align: center; font: italic 24px Arial, sans-serif; color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.product__basket { display: inline-block; }
.product__basket i { display: block; background: url('../img/icons-s694288af43.png') 0 -237px no-repeat; width: 53px; height: 51px; }

.info-block { padding: 0 4px; }
.info-block img { width: 100%; }
.info-block p { padding-left: 2px; font: italic 12px Times New Roman, sans-serif; color: #87888a; }

.comments { margin-bottom: 50px; padding-top: 2px; border-top: 2px dotted #6b6f72; }

.comments__title { font: italic 18px Times New Roman, sans-serif; color: #9d1c2f; margin-bottom: 5px; }

.comm { padding: 5px 0 10px; border-top: 2px dotted #6b6f72; font: italic 14px Times New Roman, sans-serif; color: #87888a; }
.comm:before, .comm:after { content: ""; display: table; }
.comm:after { clear: both; }
.comm:first-child { border-top: none; }

.comm__name { float: left; width: 145px; font-size: 18px; }

.comm__text { float: left; width: 530px; }

.comm__mark { float: right; width: 182px; text-align: center; font-size: 18px; color: #9d1c2f; }

.wine { padding: 0 0 5px 26px; border-bottom: 2px dotted #6b6f72; }

.wine__title { font-family: Tahoma, sans-serif; }

.wine__about { padding-top: 20px; font-size: 10px; font-weight: bold; text-align: justify; }
.wine__about:before, .wine__about:after { content: ""; display: table; }
.wine__about:after { clear: both; }
.wine__about img { float: right; width: 260px; margin-left: 25px; }

.wine__text { float: left; width: 546px; }
.wine__text p { text-indent: 36px; }

.sign-in { padding: 0 194px 14px 26px; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom: 2px dotted #6b6f72; }

.form__item { margin-top: 15px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.form__item:before, .form__item:after { content: ""; display: table; }
.form__item:after { clear: both; }
.form__item p { float: left; text-align: right; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 20px; width: 50%; line-height: 23px; font-family: Tahoma, sans-serif; color: #555555; }

.form__input { float: right; width: 50%; }

.l-checkbox { position: relative; display: inline-block; margin-right: 19px; }
.l-checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.l-checkbox input + span { position: absolute; top: 0px; left: 0px; width: 17px; height: 17px; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #953c36; }
.l-checkbox input:checked + span { background: url(../img/checkbox.png) -2px 0px no-repeat; }

.checkbox__text { display: inline-block; padding-left: 7px; }

.form__submit { text-align: right; margin-top: 28px; }

.registration { padding: 8px 194px 14px 26px; -moz-box-sizing: border-box; box-sizing: border-box; }
.registration:before, .registration:after { content: ""; display: table; }
.registration:after { clear: both; }

.registration__col { float: right; width: 45%; padding-top: 20px; }
.registration__col .l-checkbox { margin-left: 143px; }

.registration__confirm { clear: both; margin: 0 0 0 207px; padding-top: 20px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.registration__confirm .l-checkbox:before, .registration__confirm .l-checkbox:after { content: ""; display: table; }
.registration__confirm .l-checkbox:after { clear: both; }
.registration__confirm input { float: left; }
.registration__confirm .checkbox__text { float: left; width: 80%; font-size: 10px; }

.ie8 .l-checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.ie8 .l-checkbox input + span { display: none; }
