* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -170px; }

.wrap__in { position: relative; width: 1063px; margin: 0 auto; background: white; z-index: 10; }

.push { height: 170px; clear: both; }

.h1 { margin: 20px 0 10px; font: italic 24px Times New Roman, sans-serif; color: #9d1c2f; }

.h2 { font: 14px normal Tahoma, sans-serif; color: #9d1c2f; text-transform: uppercase; text-decoration: underline; }

.h3 { margin: 20px 0 10px; font: italic 18px Times New Roman, sans-serif; color: #9d1c2f; }

.header { position: relative; padding: 12px 0 0 206px; background: url(../img/header.png) 211px 0 no-repeat; }
.header:before, .header:after { content: ""; display: table; }
.header:after { clear: both; }

.header__logo { position: absolute; top: 12px; left: 0px; }
.header__logo a { display: block; }
.header__logo i { display: block; background: url('../img/icons-s694288af43.png') 0 0 no-repeat; width: 185px; height: 185px; }

.header__call-us { float: left; padding: 22px 42px 0; font-family: Tahoma, sans-serif; color: #9d1c2f; font-size: 19px; }
.header__call-us .advert__2 { padding-left: 68px; }
.header__call-us .advert__3 { padding-left: 179px; }

.adtert__number { padding-top: 7px; color: #aaaaaa; font-size: 33px; }

.basket { position: relative; float: right; margin: 64px 0 5px; min-width: 119px; height: 88px; background: #e7e7e7; }
.basket:before { content: ""; position: absolute; top: 32px; left: -62px; background: url('../img/icons-s694288af43.png') 0 -237px no-repeat; width: 53px; height: 51px; }

.basket__title { height: 27px; line-height: 27px; margin-bottom: 8px; text-align: center; text-transform: uppercase; color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.basket__price { margin-bottom: 4px; }
.basket__price:before, .basket__price:after { content: ""; display: table; }
.basket__price:after { clear: both; }
.basket__price .basket__number { float: left; width: 50%; padding: 0 10px; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; font-size: 18px; }
.basket__price .basket__text { float: left; width: 50%; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; color: #9d1c2f; }

.menu { clear: both; }

.main-menu { height: 26px; margin-bottom: 3px; background: #dadada; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faf9f9), color-stop(100%, #bebdbd)); background-image: -webkit-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -moz-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -o-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: linear-gradient(top, #faf9f9 0%, #bebdbd 100%); }
.main-menu li { float: left; border-right: 3px solid #9d1d2e; }
.main-menu li a { display: block; padding: 0 33px; line-height: 26px; text-transform: uppercase; font-size: 15px; color: #555555; }
.main-menu li a:hover { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }
.main-menu li a.is-active { color: white; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); }

.sub-menu { height: 26px; line-height: 26px; background: #87888a; }
.sub-menu li { float: left; }
.sub-menu li a { display: block; padding-left: 24px; color: white; font-size: 13px; text-transform: uppercase; }
.sub-menu li a:hover { color: #9d1c2f; }

.footer { width: 1063px; height: 170px; margin: 0 auto; padding-top: 8px; -moz-box-sizing: border-box; box-sizing: border-box; border-top: 9px solid #9d1c2f; }
.footer:before, .footer:after { content: ""; display: table; }
.footer:after { clear: both; }

.socials { float: left; width: 185px; color: #929090; font-family: "Tahoma", sans-serif; }

.socials-list { margin-top: 12px; }
.socials-list:before, .socials-list:after { content: ""; display: table; }
.socials-list:after { clear: both; }
.socials-list li { float: left; width: 32px; height: 32px; margin-left: 6px; }
.socials-list li:first-child { margin-left: 0; }

.f { display: block; background: url('../img/icons-s694288af43.png') 0 -382px no-repeat; width: 32px; height: 32px; }

.vk { display: block; background: url('../img/icons-s694288af43.png') 0 -340px no-repeat; width: 32px; height: 32px; }

.tw { display: block; background: url('../img/icons-s694288af43.png') 0 -424px no-repeat; width: 32px; height: 32px; }

.inst { display: block; background: url('../img/icons-s694288af43.png') 0 -195px no-repeat; width: 32px; height: 32px; }

.yt { display: block; background: url('../img/icons-s694288af43.png') 0 -298px no-repeat; width: 32px; height: 32px; }

.bot-menu { overflow: hidden; text-align: center; }
.bot-menu li { display: inline-block; padding: 0 15px; border-left: 2px solid #909090; font-family: "Tahoma", sans-serif; }
.bot-menu li:first-child { border-left: none; }
.bot-menu li a { color: #9d1c2f; }

.quote { width: 190px; float: right; color: #aaaaaa; font-size: 20px; }
.quote .quote__mod { padding-left: 94px; }

.l-container { position: relative; }
.l-container:before, .l-container:after { content: ""; display: table; }
.l-container:after { clear: both; }

.l-sidebar__menu { position: absolute; top: 120px; bottom: 0; left: 0; right: 0; -webkit-box-shadow: inset -12px -8px 30px -8px #cccccc; -moz-box-shadow: inset -12px -8px 30px -8px #cccccc; box-shadow: inset -12px -8px 30px -8px #cccccc; }

.sidebar { position: absolute; top: 0; bottom: 0; left: 0; width: 185px; margin-right: 21px; }

.l-content { float: right; width: 857px; padding-top: 7px; -webkit-box-shadow: 8px -3px 30px -3px #cccccc; -moz-box-shadow: 8px -3px 30px -3px #cccccc; box-shadow: 8px -3px 30px -3px #cccccc; }

.content { margin-bottom: 5px; }

.sidebar__options { margin-bottom: 22px; }
.sidebar__options li { margin-bottom: 10px; }
.sidebar__options li a { display: block; height: 26px; padding: 0 22px; line-height: 26px; text-transform: uppercase; font-size: 15px; color: #9d1c2f; background: #dadada; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faf9f9), color-stop(100%, #bebdbd)); background-image: -webkit-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -moz-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: -o-linear-gradient(top, #faf9f9 0%, #bebdbd 100%); background-image: linear-gradient(top, #faf9f9 0%, #bebdbd 100%); }

.l-search { position: relative; }

.search { height: 26px; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 0 10px; border: 1px solid #9d1c2f; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

.search-btn { position: absolute; top: 0; bottom: 0; right: 0; width: 28px; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; background: #a83632; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cb4e4a), color-stop(100%, #85211a)); background-image: -webkit-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: -moz-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: -o-linear-gradient(top, #cb4e4a 0%, #85211a 100%); background-image: linear-gradient(top, #cb4e4a 0%, #85211a 100%); cursor: pointer; }
.search-btn:after { content: ""; position: absolute; top: 6px; lefT: 8px; background: url('../img/icons-s694288af43.png') 0 -466px no-repeat; width: 13px; height: 13px; }

.sidebar__article-list { -webkit-box-shadow: inset -8px -3px 30px -3px #cccccc; -moz-box-shadow: inset -8px -3px 30px -3px #cccccc; box-shadow: inset -8px -3px 30px -3px #cccccc; }

.sidebar__article { -moz-box-sizing: border-box; box-sizing: border-box; border: 2px dotted #6b6f72; margin-bottom: 14px; }
.sidebar__article img { width: 181px; height: 122px; }
.sidebar__article p { padding: 0 8px; font: 10px Tahoma, sans-serif; }

.sidebar__article-title { display: block; padding: 0 0 8px 8px; font: italic 18px Times New Roman, sans-serif; color: #9d1c2f; }

.more { display: block; margin: 17px 0 20px; font: italic 10px Times New Roman, sans-serif; color: #9d1c2f; }
.more:hover { text-decoration: underline; }

.more_mod { padding: 0 8px; }

.navigation { padding: 0 0 0 10px; margin-bottom: 10px; }
.navigation:before, .navigation:after { content: ""; display: table; }
.navigation:after { clear: both; }

.navigation__map { float: left; }
.navigation__map li { display: inline-block; padding: 0 15px; border-left: 2px solid #777777; }
.navigation__map li:first-child { border-left: none; }
.navigation__map li a { font: "Tahoma", sans-serif; color: #9d1c2f; }
.navigation__map li a.current { color: #929191; }

.pagination { float: right; margin-left: 25px; }
.pagination li { float: left; line-height: 18px; font-family: "Tahoma", sans-serif; font-size: 12px; color: #929191; }
.pagination li span { padding-right: 4px; }
.pagination li a { display: block; height: 18px; padding: 0 5px; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; color: #929191; }
.pagination li a:hover { color: #9d1c2f; }
.pagination li a.is-active { background: #9d1d2e; color: white; }

.sidebar__menu { padding-left: 22px; }
.sidebar__menu li { font-size: 13px; color: #9d1c2f; text-transform: uppercase; }
.sidebar__menu li p { padding-top: 10px; cursor: pointer; }
.sidebar__menu .red-wine p { border-right: 7px solid #922228; }
.sidebar__menu .red-wine.is-active p { border-bottom: 2px solid #922228; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .white-wine p { border-right: 7px solid #fce08b; }
.sidebar__menu .white-wine p.is-active { border-bottom: 2px solid #fce08b; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .pink-wine p { border-right: 7px solid #f69793; }
.sidebar__menu .pink-wine.is-active p { border-bottom: 2px solid #f69793; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }
.sidebar__menu .champagne p { border-right: 7px solid #fff6f2; }
.sidebar__menu .champagne.is-active p { border-bottom: 2px solid #fff6f2; -webkit-box-shadow: 0px 4px 4px 0px #cccccc; -moz-box-shadow: 0px 4px 4px 0px #cccccc; box-shadow: 0px 4px 4px 0px #cccccc; }

.sidebar__sub-menu { padding: 7px 0 4px 19px; }
.sidebar__sub-menu li { padding-bottom: 2px; font-size: 12px; color: #7d7d7d; text-transform: none; font-family: "Tahoma", sans-serif; cursor: pointer; }
.sidebar__sub-menu li:hover { color: #9d1c2f; }

.new { margin-left: 25px; }
.new:before, .new:after { content: ""; display: table; }
.new:after { clear: both; }

.new__col { width: 50%; float: left; }
.new__col:before, .new__col:after { content: ""; display: table; }
.new__col:after { clear: both; }

.wine-about { font-size: 10px; }

.new__text { font: 14px Tahoma, sans-serif; }

.wine-about__kind { margin-top: 10px; }

.new__img { position: relative; float: right; }
.new__img p { padding: 0 10px 0 43px; font: italic 12px "Times New Poman", sans-serif; color: #87888a; }

.new__wine { position: absolute; top: 10px; left: -61px; }

.product-list .h2 { margin-left: 24px; }

.product-list__row { padding-top: 7px; margin-top: 7px; border-top: 2px dotted #6b6f72; }
.product-list__row:before, .product-list__row:after { content: ""; display: table; }
.product-list__row:after { clear: both; }
.product-list__row:first-child { border-top: none; }

.product-list__row_mod { padding-top: 34px; }

.product-list__row_top { border-top: 2px dotted #6b6f72 !important; }

.product { position: relative; width: 33.3%; float: left; padding: 16px 8px 8px 88px; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 2px dotted #6b6f72; }
.product:first-child { border-left: none; }

.product__link { font: italic 18px Times New Poman, sans-serif; color: #9d1c2f; }

.product__text { font-size: 12px; }

.product__img { position: absolute; top: 56px; left: 10px; z-index: 2; }

.price { position: relative; left: -54px; height: 27px; line-height: 27px; padding-right: 34px; text-align: right; background: #9d2a30; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(49.33%, #8b1c21), color-stop(117.33%, #e36168)); background-image: -webkit-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -moz-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: -o-linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); background-image: linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%); color: white; font-family: Tahoma, sans-serif; }
.price:after { content: ""; position: absolute; top: 2px; right: 7px; background: url('../img/icons-s694288af43.png') 0 -489px no-repeat; width: 22px; height: 22px; }
