@import "base"
//styles for main page
.new
	+clr
	margin-left: 25px
.new__col
	width: 50%
	float: left
	+clr
	.h1
		margin: 20px 0 10px 	
.wine-about
	font-size: 10px
.new__text
	font: 14px Tahoma, sans-serif
.wine-about__kind
	margin-top: 10px
.new__img
	position: relative
	float: right
	p
		padding: 0 10px 0 43px
		font: italic 12px 'Times New Poman', sans-serif
		color: #87888a
.new__wine
	position: absolute
	top: 10px
	left: -61px
.product-list
	.h2
		margin-left: 24px
.product-list__row
	padding-top: 7px
	margin-top: 7px
	border-top: 2px dotted #6b6f72
	+clr
	&:first-child
		border-top: none
.product-list__row_mod
	padding-top: 34px
.product-list__row_top
	border-top: 2px dotted #6b6f72!important							
.product-prewiev
	position: relative
	width: 33.3%
	float: left
	padding: 16px 8px 8px 88px
	+box
	border-left: 2px dotted #6b6f72
	&:first-child
		border-left: none
.product-prewiev__link
	font: italic 18px Times New Poman, sans-serif
	color: $red
.product-prewiev__text
	font-size: 12px
.product-prewiev__img
	position: absolute
	top: 56px
	left: 10px
	z-index: 2	
.price
	position: relative
	left: -54px
	height: 27px
	line-height: 27px
	padding-right: 34px
	text-align: right
	background: #9d2a30 
	+background-image(linear-gradient(bottom, #8b1c21 49.33%, #e36168 117.33%))
	color: #fff
	font-family: Tahoma, sans-serif
	&:after
		content: ""
		position: absolute
		top: 2px
		right: 7px
		+s(basket-small)