@import "base"
//styles for main page
.new
	+clr
	margin-left: 25px
.new__col
	width: 50%
	float: left	
.new__about
	font-size: 10px
.new__text
	font: 14px Tahoma, sans-serif
.new__kind
	margin-top: 20px